@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Ferrara.Sites.TopMenuSite.SharedRecipeListImageBlock.SharedRecipeListImageBlock

<div class="recipe-list-image-block">
  @Html.PropertyFor(x => x.RecipeProductImage)
</div>