
@model Ferrara.Sites.Shared.PageViewModel<Ferrara.Sites.Keebler.CategoryPage.CategoryPage>

<div>
    @*@Html.PropertyFor(m => m.CurrentPage)*@
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend @Html.PropertyFor(m => m.CurrentPage.Name)</p>
    <p>Hello friend</p>
    <p>Hello friend @Html.PropertyFor(m => m.CurrentPage.Name)</p>
    <p>Hello friend</p>
    <p>Hello friend @Html.PropertyFor(m => m.CurrentPage.Name)</p>
    <p>Hello friend</p>
    <p>Hello friend @Html.PropertyFor(m => m.CurrentPage.Name)</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
</div>