<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7278f048-ef35-43a0-97f1-2e8862a85219/resourceGroups/feca02mstrk84pdinte/providers/Microsoft.Web/sites/feca02mstrk84pdinte</ResourceId>
    <ResourceGroup>feca02mstrk84pdinte</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://feca02mstrk84pdinte.dxcloud.episerver.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>feca02mstrk84pdinte.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>feca02mstrk84pdinte</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$feca02mstrk84pdinte</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EPiServerDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:feca02mstrk84pdinte.database.windows.net,1433;Initial Catalog=epicms;Integrated Security=False;User ID=epiuser@feca02mstrk84pdinte;Password=wu9U873YptSL;Connect Timeout=30;Encrypt=True" Name="Data Source=tcp:feca02mstrk84pdinte.database.windows.net,1433;Initial Catalog=epicms;User Id=epiuser@feca02mstrk84pdinte;Password=wu9U873YptSL;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|EPiServerDB_260b9f32.mdf;Initial Catalog=EPiServerDB_260b9f32;Integrated Security=True;Connect Timeout=60" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|EPiServerDB_260b9f32.mdf;Initial Catalog=EPiServerDB_260b9f32;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="..\packages\EPiServer.CMS.Core.11.12.0\tools\EPiServer.Cms.Core.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EPiServerDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:feca02mstrk84pdinte.database.windows.net,1433;Initial Catalog=epicms;User Id=epiuser@feca02mstrk84pdinte;Password=wu9U873YptSL;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>