@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Ferrara.Sites.Shared.PageViewModel<Ferrara.Sites.Keebler.KeeblerRecipesCategoryPage.KeeblerRecipesCategoryPage>

<div>
    @*@Html.PropertyFor(m => m.MainBody)*@
</div>