@import './_themes.scss';

.product-details-page {
    min-height: calc(100% - 105px);
    margin-top: 10px;

    .carousel-img-hide {
        display: none;
    }

    img {
        padding: 0 3% 3% 3%;
        margin-top: 60px;
    }

    .product-details {
        line-height: 2em;
        margin-top: 20px;
    }

    .main-content-area {
        margin-top: 60px;
    }

    .nutrition-dropdown {
        width: 100%;
    }

    h1 {
        margin-top: 20px;
        font-weight: 900;
        font-size: 26px;
    }

    .buy-now-container {
        text-align: center;

        .buy-now-btn {
            margin-top: 5%;
            background-color: $famous-amos-footer;
            padding: .5em 3em;
        }
    }
    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        height: 650px;
        overflow-y: auto;
    }

    @media only screen and (max-width: $xsmall-screen) {
        .main-content-area {
            padding: 0 5%;
        }

        .sharednutritionblock {
            margin: auto;
        }
    }

    @media only screen and (max-width: $menu-breakpoint-lower) {
        min-height: calc(100% - 98px);

        div:last-child {
            margin-top: 10px;
        }
    }
}