$light-font: #FFF;
$dark-font: #000;

// Mother's Colors
$mothers-body: #794187;
$mothers-footer: #d62f77;
$mothers-accent: #cca35e;
$mothers-font-1: $light-font;
$mothers-font-2: #794185;


//Famous Amos Colors
$famous-amos-body: #8cd4e3;
$famous-amos-footer: #18488e;
$famous-amos-font-1: $light-font;
$famous-amos-font-2: #0e267c;

// Murray's Colors
$murrays-footer: #021f57;
$murrays-accent: #182756;
$murrays-font-1: $dark-font;
$murrays-font-2: $light-font;

// Murray's Sugar Free Colors
$murrays-sugar-free-footer: #18488e;
$murrays-sugar-free-accent: #182756;
$murrays-sugar-free-body: #C8B690;
$murrays-sugar-free-font-1: $light-font;
$murrays-sugar-free-font-2: $dark-font;


// Screen Sizes
$menu-breakpoint-lower: 991px;
$menu-breakpoint-upper: 992px;
$xsmall-screen: 768px;

// Header & Footer
$footer-first-break-point: 835px; 
$footer-second-break-point: 480px;

$footer-line-height: 28px;
$footer-padding: 20px;
$footer-height-full-screen: 40px;

$famous-amos-header-height: 55px;
$mothers-footer-border-height: 8px;