@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Ferrara.Sites.Keebler.KeeblerMakeAWishTitleBlock.KeeblerMakeAWishTitleBlock

<div>
  <h1 class="title-block">
        @Html.PropertyFor(m => m.TitleBlock)
  </h1>
</div>