@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Ferrara.Sites.Shared.PageViewModel<Ferrara.Sites.TopMenuSite.SharedWhereToBuyPage.SharedWhereToBuyPage>

    <div class="where-to-buy-page">
        <script type="text/javascript" src=@Model.CurrentPage.DestiniLink></script>
    </div>