@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Ferrara

@model Ferrara.Sites.Shared.PageViewModel<Ferrara.Sites.Keebler.KeeblerSweetTreatsPage.KeeblerSweetTreatsPage>

<div>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend <b> @Html.PropertyFor(m => m.CurrentPage.SweetTreatTitle)</b></p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>
    <p>Hello friend</p>

</div>