@media all and (min-width: 0px) and (max-width: 480px) {
  .full-page-content {
    height: calc(100% - ((28px * 3) + (20px * 2) + 55px + 100px));
    margin-top: 100px; }
  .product-details-page, .product-list-page, .tools-page {
    min-height: calc(100% - ((28px * 3) + (20px * 2) + 55px + 100px)); } }

@media all and (min-width: 480px) and (max-width: 835px) {
  .full-page-content {
    height: calc(100% - ((28px * 2) + (20px * 2) + 55px + 100px));
    margin-top: 100px; }
  .product-details-page, .product-list-page, .tools-page {
    min-height: calc(100% - ((28px * 2) + (20px * 2) + 55px + 100px)); } }

@media all and (min-width: 835px) {
  .full-page-content {
    height: calc(100% - (40px + 55px + 100px));
    margin-top: 100px; }
  .product-details-page, .product-list-page, .tools-page {
    min-height: calc(100% - (40px + 55px + 100px)); } }

.home-page {
  color: black; }
  .home-page .row {
    overflow-y: auto; }
  .home-page .col-md-9, .home-page .col-md-3 {
    padding: 0; }
  .home-page .left-content {
    text-align: center;
    max-width: 280px; }
    .home-page .left-content .logo-column {
      display: none; }
    .home-page .left-content .brand-description p {
      text-align: left;
      margin: 10%; }
  .home-page .right-content {
    background-size: cover !important;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 280px);
    height: 100%;
    z-index: -1; }

@media only screen and (max-width: 768px) {
  .home-page-nav {
    width: 100% !important;
    z-index: 2; }
  .row .left-content {
    min-width: 100% !important;
    padding: 40px 0 0 0;
    margin-top: 0; }
    .row .left-content .brand-description p {
      background-color: white;
      margin: 0;
      padding: 6% 8%;
      position: absolute;
      bottom: 0;
      max-height: 200px;
      overflow-y: auto; }
  .row .right-content {
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -1; } }

@media all and (min-width: 768px) and (max-width: 991px) {
  .home-page-nav {
    width: 100% !important;
    z-index: 2; }
  .right-content {
    width: 100%; } }

@media all and (min-width: 992px) {
  .left-content {
    height: calc(100% - 50px);
    max-width: 450px !important;
    margin-top: 5px !important; }
    .left-content .brand-description p {
      margin: 30% 5% 0% 10% !important;
      line-height: 250% !important;
      font-size: 20px; }
  .right-content {
    width: calc(100% - 475px) !important;
    height: 100%;
    z-index: -1; } }

.navbar {
  z-index: 9;
  background-color: #021f57 !important;
  color: #FFF;
  padding: 0;
  min-height: 55px; }
  .navbar .custom-toggler.navbar-toggler {
    border: none;
    outline: none; }
    .navbar .custom-toggler.navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .navbar .navbar-collapse {
    margin-top: 5px; }
  .navbar a.nav-link {
    color: white !important;
    max-width: 1250px;
    margin-left: 10px; }
  .navbar .navbar-nav {
    padding-right: 10px; }
  .navbar .navbar-brand img {
    position: absolute;
    top: 65px;
    left: 30px;
    z-index: 10;
    max-width: 210px; }
  .navbar li:last-child h3 {
    display: none; }
  .navbar .hamburger-home-link {
    display: none !important; }

@media only screen and (max-width: 991px) {
  .navbar {
    padding: 5px; }
    .navbar .nav-spacer {
      display: none; }
    .navbar .nav-brand img {
      left: 0; }
    .navbar .nav-links {
      margin: 0 0 0 10px; }
  .home-page-nav .nav-links {
    margin: 0; }
  .home-page-nav .navbar-brand {
    display: none; } }

.product-list-page {
  color: black;
  position: relative;
  margin: 5% 3% 5% 3%;
  padding: 3%; }
  .product-list-page h2 {
    font-weight: bolder; }
  .product-list-page p {
    font-size: 1em; }
  .product-list-page .product-list-block {
    padding: 15% 15% 0%; }
    .product-list-page .product-list-block p {
      font-weight: bolder; }

.product-details-page {
  margin-top: 10%; }
  .product-details-page .product-details {
    line-height: 1.6em !important;
    text-align: left !important; }
  @media only screen and (max-width: 768px) {
    .product-details-page img {
      margin-top: 100px !important; } }

@media all and (min-width: 768px) and (max-width: 991px) {
  .product-details-page {
    margin-top: 15%;
    margin-bottom: 5%; } }

.recipe-details-page {
  position: relative;
  margin: 8% 3%;
  padding: 3%; }
  .recipe-details-page .recipe-details-text {
    padding: 3% 0; }
    .recipe-details-page .recipe-details-text .recipe-img {
      width: 100%;
      max-width: 350px;
      margin: 0px auto 5%; }
    .recipe-details-page .recipe-details-text .recipe-directions h5 {
      margin-left: 0; }
    .recipe-details-page .recipe-details-text .recipe-directions li {
      margin: 1% 0 0 4%; }
  .recipe-details-page .recipe-ingredients p {
    margin: 1% 3%; }
  .recipe-details-page button.btn-nostyle {
    margin: 1% 3%;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline; }
  .recipe-details-page #nutritionalModal {
    color: black; }
  @media only screen and (max-width: 768px) {
    .recipe-details-page .recipe-details-page .recipe-details-text .recipe-img {
      margin-bottom: 10%; }
    .recipe-details-page .blurry-bg {
      height: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .recipe-details-page .recipe-details-page .recipe-details-text .recipe-img {
      margin-bottom: 10%; }
    .recipe-details-page .blurry-bg {
      height: 100%; } }
  @media all and (min-width: 992px) {
    .recipe-details-page {
      margin: 8% 14% !important; }
      .recipe-details-page .recipe-details-page .recipe-details-text .recipe-img {
        margin-bottom: 40%; }
      .recipe-details-page .modal-body .modal-nutrition {
        margin: 2% 20%; } }
  @media print {
    .recipe-details-page .recipe-img, .recipe-details-page #print-btn, .recipe-details-page #nutrition-btn {
      display: none !important; } }

.recipe-list-page {
  position: relative;
  margin: 8% 5%;
  padding: 1%;
  color: black; }
  .recipe-list-page .block-container.equal-height {
    display: flex;
    justify-content: space-around; }
    .recipe-list-page .block-container.equal-height .sharedrecipelistblock {
      max-width: 500px; }
      .recipe-list-page .block-container.equal-height .sharedrecipelistblock .recipe-list-block {
        padding: 5%; }
        .recipe-list-page .block-container.equal-height .sharedrecipelistblock .recipe-list-block h1 {
          font-size: 1.5em; }
        .recipe-list-page .block-container.equal-height .sharedrecipelistblock .recipe-list-block a p {
          text-decoration: underline;
          font-weight: bolder; }
    .recipe-list-page .block-container.equal-height .sharedrecipelistimageblock:nth-child(2n+1) {
      transform: rotate(-10deg); }
    .recipe-list-page .block-container.equal-height .sharedrecipelistimageblock:nth-child(2n) {
      transform: rotate(10deg); }

@media only screen and (max-width: 768px) {
  .recipe-list-page {
    margin: 25% 5% !important; }
    .recipe-list-page .recipe-list-image-block {
      padding-bottom: 15%; } }

@media all and (min-width: 768px) and (max-width: 991px) {
  .recipe-list-page {
    margin: 20% 5% !important; }
    .recipe-list-page .shared-recipe-list-image-block {
      padding-bottom: 15%; } }

body {
  color: #000; }

h1 {
  margin: 3%;
  font-size: 1.8em;
  font-weight: 900; }

h2, h3, h4, h5 {
  margin: 1% 3%;
  font-weight: 900; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.1em; }

p {
  font-size: 1em;
  margin: 0 3% 3% 3%; }

.row {
  margin: 0;
  height: 100%; }

.banner-img {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 55px;
  height: 100px;
  background-repeat: repeat-x !important; }

@media print {
  .banner-img {
    display: none !important; } }

.recipe-details-page {
  margin: 100px 0 0 0; }
  .recipe-details-page .recipe-details-text {
    padding-top: 0; }

.product-details-page h1 {
  font-size: 22px !important; }

h1.nutrition-facts-title {
  font-size: 2rem !important; }

.footer {
  color: #FFF;
  background-color: #021f57; }
  .footer a {
    color: #FFF; }

.where-to-buy-page {
  margin-top: 60px; }
