h1.yummy-recipes-title {
  font-family: 'Lilita One', cursive;
  font-size: 40px;
  letter-spacing: -0.4px;
  line-height: 40px;
  text-transform: uppercase;
  color: #461D09;
  display: flex;
  justify-content: center;
  padding-top: 7%; }

.no-cards-displaying-text {
  font-family: 'Lilita One', cursive;
  font-size: 30px;
  letter-spacing: -.25px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-top: 62px;
  display: none; }

.recipe-list-pg {
  position: relative;
  z-index: 0; }
  .recipe-list-pg .keebler-recipe-list, .recipe-list-pg .card-header {
    background-color: transparent; }
  .recipe-list-pg .recipe-filter-button {
    height: 28px;
    margin: 1% 1px;
    padding: 0 1%;
    font-size: 12px; }
  .recipe-list-pg .keebler-recipe-list {
    border: hidden; }
  .recipe-list-pg .keebler-recipe-header {
    position: relative;
    border: hidden;
    z-index: 0; }
  .recipe-list-pg .keebler-recipe-card-list {
    position: relative;
    background-color: #834217;
    box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 0 0;
    z-index: 2;
    width: 100%; }
    .recipe-list-pg .keebler-recipe-card-list .recipe-panel {
      max-width: 80%;
      margin: auto; }
      .recipe-list-pg .keebler-recipe-card-list .recipe-panel .recipe-block-container.equal-height {
        display: flex;
        justify-content: center; }
  .recipe-list-pg .nav-tabs .nav-link {
    font-family: 'Lilita One', cursive;
    font-size: 24px;
    letter-spacing: -.25px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
    opacity: 0.35; }
  .recipe-list-pg .nav-tabs .nav-link + img {
    display: none; }
  .recipe-list-pg .nav-tabs .nav-link.active {
    opacity: 1; }
  .recipe-list-pg .nav-tabs .nav-link.active + img {
    display: block; }
  .recipe-list-pg #myTab .nav-link + img, .recipe-list-pg #recipe-list .nav-link + img {
    display: block !important;
    width: 240px; }
  .recipe-list-pg .Filter-Buttons-Div {
    text-align: center; }
    .recipe-list-pg .Filter-Buttons-Div .custom-filter-button {
      display: none; }
    .recipe-list-pg .Filter-Buttons-Div #clear-filters-button {
      display: none; }

@media only screen and (max-width: 400px) {
  .keebler-card {
    width: 300px;
    height: 180px; }
    .keebler-card .col-4 img {
      min-height: 125px;
      max-width: 125px; }
    .keebler-card .card-text {
      margin-left: 38px; }
    .keebler-card .card-description p {
      margin-bottom: 0.7rem !important; }
    .keebler-card .recipe-bold-info p {
      font-size: 12px; } }

@media only screen and (max-width: 767px) {
  .recipe-list-pg {
    padding-top: 20%; }
    .recipe-list-pg .nav-tabs {
      padding-left: 95%;
      overflow-x: scroll;
      overflow-y: hidden; }
      .recipe-list-pg .nav-tabs .nav-link {
        margin-left: 15px; }
      .recipe-list-pg .nav-tabs .nav-link.active + img {
        width: 185px; }
    .recipe-list-pg .keebler-recipe-card-list {
      top: -95px; }
    .recipe-list-pg .recipe-filter-button {
      padding: 0px 4%; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .recipe-list-pg .nav-tabs {
    overflow-x: scroll;
    overflow-y: hidden; }
    .recipe-list-pg .nav-tabs .nav-link {
      margin-left: 33px; }
    .recipe-list-pg .nav-tabs .nav-link.active + img {
      width: 220px; }
  .recipe-list-pg .keebler-recipe-card-list {
    top: -112px; }
    .recipe-list-pg .keebler-recipe-card-list .recipe-panel {
      max-width: 100%; } }

@media only screen and (min-width: 1021px) and (max-width: 1366px) {
  .recipe-list-pg .nav-tabs .nav-link {
    margin-left: 22px; }
  .recipe-list-pg .nav-tabs .nav-link.active + img {
    width: 240px; }
  .recipe-list-pg .keebler-recipe-card-list {
    top: -100px; } }

@media only screen and (min-width: 767px) and (max-width: 1366px) {
  .recipe-list-pg {
    padding-top: 10%; } }

@media only screen and (min-width: 1366px) and (max-width: 1900px) {
  .recipe-list-pg {
    padding-top: 7%; }
    .recipe-list-pg .nav-tabs .nav-link {
      margin-left: 20px; }
    .recipe-list-pg .nav-tabs .nav-link.active + img {
      width: 240px; }
    .recipe-list-pg .keebler-recipe-card-list {
      top: -100px; } }

@media all and (min-width: 1901px) {
  .recipe-list-pg .nav-tabs .nav-link {
    margin-left: 20px; }
  .recipe-list-pg .nav-tabs .nav-link.active + img {
    width: 240px; }
  .recipe-list-pg .keebler-recipe-card-list {
    top: -125px; } }
